@using RazorPages.Models
@model RazorPages.Views.Identification.LoginModel
@{
}


<div class="container border" style=" padding :30px">
    <form method="post">
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="credential.login"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="credential.login" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="credential.password"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="credential.password" class="form-control"/>
            </div>
        </div>
    </form>

</div>